<div class="container">
  <h2>Balance Sheet</h2>
  <p>Total Income: {{ totalIncome() | currency: 'INR' }}</p>
  <p>Savings: {{ savings() | currency: 'INR' }}</p>
  <p>Savings percent: {{ savingspercent() | number: '1.0-2' }}%</p>
  <p>Total Expense: {{ totalExpense() | currency: 'INR' }}</p>
  <p>Expense Percentage: {{ expPercentage() | number:'1.0-2' }}%</p>
</div>

<form [formGroup]="transactionForm" (ngSubmit)="onFormSubmit()">
  <label for="type">Transaction Type</label>
  <select id="type" formControlName="type">
    <option hidden>Type</option>
    <option value="income">Income</option>
    <option value="expense">Expense</option>
  </select>

  <label for="amount">Amount</label>
  <input id="amount" type="number" formControlName="amount">

  <label for="reason">Reason</label>
  <input id="reason" type="text" formControlName="reason">

  <button type="submit">Submit</button>
</form>

<div class="table">
  <div class="transactions">
    <h3>Income</h3>
    <table>
      <thead>
        <tr>
          <th>Type</th>
          <th>Amount</th>
          <th>Reason</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let transaction of transactions()">
          <ng-container *ngIf="transaction.type === 'income'">
            <td>{{ transaction.type }}</td>
            <td>{{ transaction.amount | currency: 'INR' }}</td>
            <td>{{ transaction.reason }}</td>
          </ng-container>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="transactions">
    <h3>Expenses</h3>
    <table>
      <thead>
        <tr>
          <th>Type</th>
          <th>Amount</th>
          <th>Reason</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let transaction of transactions()">
          <ng-container *ngIf="transaction.type === 'expense'">
            <td>{{ transaction.type }}</td>
            <td>{{ transaction.amount | currency: 'INR' }}</td>
            <td>{{ transaction.reason }}</td>
          </ng-container>
        </tr>
      </tbody>
    </table>
  </div>
</div>
